/* Globales Styling */
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Avenir Light", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Hauptcontainer */
#container {
    text-align: center;
    position: relative;
}

/* Sphäre für den Score-Hintergrund */
#score-background {
    width: 80vmin;
    height: 80vmin;
    background: radial-gradient(circle, #44b5e2 0%, #000 67%); /* Initial auf Himmelblau */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: pulse 5s infinite;
}

/* SVG-Stadt-Icon */
#city-icon {
    width: 60%;
    max-height: 80%; /* Dynamisch basierend auf Bildschirmhöhe */
    height: auto;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    display: block;
}

/* Stadtname */
#city-name {
    font-family: "Avenir Light", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

/* Infobox für Wetter/Luftqualität */
#info-box {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #ffffff;
    z-index: 2;
    position: relative;
    background: 2px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px;/* Anfangsfarbe für Himmelblau */
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Animation für Sphäre */
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
